/**设置链接颜色*/
A:link{color:#1176D0;text-decoration:none;} 
A:visited{ color:#FF7F00;text-decoration:none;} 
A:hover{ color:#AA00AA;text-decoration:none;}

/*没有获得焦点的页签表单中链接样式*/
A.pageLabelLink:link{FONT: bold 12px/normal "宋体";COLOR:#FFFFFF;text-decoration:none;}
A.pageLabelLink:visited{FONT: 12px/normal "宋体";COLOR:#FF7F00;text-decoration:none;}
A.pageLabelLink:hover{FONT: 12px/normal "宋体";COLOR:#FF7F00;text-decoration:none;}

/*获得焦点的页签表单中的链接样式*/
A.pageLabelFocusLink:link{FONT: bold 12px/normal "宋体";COLOR:#FFFFFF;text-decoration:none;}
A.pageLabelFocusLink:visited{FONT:bold 12px/normal "宋体";COLOR:#FFFFFF;text-decoration:none;}
A.pageLabelFocusLink:hover{FONT:bold 12px/normal "宋体";COLOR:#FFFFFF;text-decoration:none;}

/**设置可排序表头的链接颜色*/
A.sortheader:link{color:white;text-decoration:none;} 
A.sortheader:visited{ color:#FFFFFF;text-decoration:none;} 
A.sortheader:hover{ color:#FFCC33;text-decoration:none;}

/**自定义字体样式*/
.STYLE1 {	color: #FFFFFF; font-weight: bold; font-size: 12px; font-family: "宋体";}
.STYLE31 { color: #444444; font-weight: bold; font-size: 12px; font-family: "宋体";}/**列表标题字体样式*/
.style35 {font-family: "宋体"; font-size: 12px; }/**分页字体样式*/
.style3 { color:#FF0000; }/**管理制度描述字体*/

/*提交按钮样式*/
.button{
	border-right: #7b9ebd 1px solid;
    padding-right: 2px;
    border-top: #7b9ebd 1px solid;
    padding-left: 2px;
    font-size: 12px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,  StartColorStr=#ffffff,  EndColorStr=#cecfde);
    border-left: #7b9ebd 1px solid;
    cursor: hand;
    color: black;
    padding-top: 2px;
    border-bottom: #7b9ebd 1px solid;
}

/**位置条字体样式*/
.currentPosition{
	font-family: "宋体";
	font-size: 12px;
	width: 98%;
	margin-top: 5px;
	padding:0;
}

/**查询表单标题栏样式*/
.queryTableTitle{
	FONT: bold 12px/normal "宋体";
	COLOR: #FFFFFF;
	background-image: url(../images/bg04.gif);
	height:24px;
}

/**main_frame中的查询页面表格样式*/
.queryTable{
	border: 1px outset #D0D5D9;
	width: 98%;
	margin-top: 5px;
	font-family: "宋体";
	font-size: 12px;
	background-color:#FFFFFF;
}

/**main_frame中的查询页面表格的表头的样式*/
.queryTable th{
	FONT: bold 12px/normal "宋体";
	COLOR: #FFFFFF;
	background-image: url(../images/bg04.gif);
	height:24px;
}

.queryTable td{
	BORDER-RIGHT: 1px none #E1E1E1;
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	FONT: 12px "宋体";
	PADDING-TOP: 3px;
	TEXT-DECORATION: none;
	border-bottom-width: 0px;
	border-bottom-style: none;
	border-bottom-color: #E1E1E1;
}

.myForm{
	margin:30px 5px 10px 5px;
}

/**查询表单样式控制*/
.queryFormTable{
	width: 100%;
	height:22px;
	border-top: none;
}
.queryFormTable td{
	border: 0px;	
}

/*申请相关的表单样式*/
.applyForm{
	color:Black;
	font-family:宋体;
	font-size:9pt;
	margin-top:10px;
	border:thick outset #D0D5D9;
	width:90%;
}
.applyForm th{
	color:Black;
	font-family:宋体;
	font-size:20pt;
	font-weight: bold; 
}

.applyForm td{
	BORDER-RIGHT: 1px solid #E1E1E1;
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	FONT: 12px "宋体";
	PADDING-TOP: 3px;
	TEXT-DECORATION: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E1E1E1;
	text-align: center;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
}

/**查询表格样式*/
.searchTable{
	border: 1px solid #7892AB;
	margin-top:10px;
	background-color: #FFFFFF;
}

/*设置查询单元格样式*/
.searchTable td{
	BORDER-RIGHT: 1px solid #E1E1E1;
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 6px;
	FONT: 12px "宋体";
	PADDING-TOP: 6px;
	TEXT-DECORATION: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E1E1E1;
	text-align: center;
}

/**查询结果列表样式*/
.resultTable{
	border: 1px solid #7892AB;
	margin-top: 10px;
	background-color: #FFFFFF;
}
/**设置查询结果列表表头样式*/
.resultTable th{
	background-color: #7892AB;
	color: #FFFFFF;
	font-weight: bold; 
	font-size: 12px; 
	font-family: "宋体";
	height:22px;
}
/*设置查询结构列表单元格样式*/
.resultTable td{
	BORDER-RIGHT: 1px solid #E1E1E1;
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	FONT: 12px "宋体";
	PADDING-TOP: 3px;
	TEXT-DECORATION: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E1E1E1;
	text-align: center;
}

/**结果列表底栏样式控制*/
.resultTableFooter{
	background-image: url(../images/bg07.gif);
	border: none;
	height:22px;
	margin-top: 0px;
}

/*设置增加修改表单样式*/
.addModifyForm{
	color:Black;
	font-family:宋体;
	font-size:9pt;
	margin-top:5px;
	border:thin ridge;
	width:98%;
	border-collapse:collapse;
}
.addModifyForm th{
	FONT: bold 14px/normal "宋体";
	COLOR: #FFFFFF;
	background-image: url(../images/bg04.gif);
	height:22px;
	border-top-color: #E1E1E1;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
}
.addModifyForm td{
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
	FONT: 12px "宋体";
	TEXT-DECORATION: none;
	border: 1px solid #E1E1E1;
}

/*引用的图片样式*/
.refImg{
	border:0px;
	width:auto;
	height: auto;
}

/*定义页签表样式*/
.pageLabel{
	background-image: url(../images/bg04.gif);
	height:22px;
	FONT: 12px/normal "宋体";
	COLOR: #FFFFFF;
	width:98%;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top: 1px solid #7892AB;
	border-right: 1px #7892AB;
	border-bottom: 1px #7892AB;
	border-left: 1px #7892AB;
}

/*定义页签下修改增加表单样式*/
.pageLabelAddModifyForm{
	color:Black;
	font-family:宋体;
	font-size:9pt;
	margin-top:15px;
	border:thin ridge;
	width:98%;
	border-collapse:collapse;
}
.pageLabelAddModifyForm th{
	color: #444444;
	font-weight: bold; 
	font-size: 12px; 
	font-family: "宋体";
	background-image: url(../images/bg07.gif);
	height:22px;
}
.pageLabelAddModifyForm td{
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
	FONT: 12px "宋体";
	TEXT-DECORATION: none;
	border: 1px solid;	
}

/**位于页签样式中的结果列表标题栏样式控制*/
.pageLabelResultTableTitle{
	background-image: url(../images/bg07.gif);
	border: none;
	width: 98%;
	height:22px;
	margin-top:15px;
}

.messageBoard th{
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	text-decoration: blink;
	background-image:url(../images/bg07.gif);
	height:22px;
}
.messageBoard td {
	BORDER-RIGHT: 1px solid #E1E1E1;
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	FONT: 12px "宋体";
	PADDING-TOP: 3px;
	TEXT-DECORATION: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E1E1E1;
}

/*main深色标头样式定义*/
.mainTitle{
	FONT: bold 12px/normal "宋体";
	COLOR: #FFFFFF;
	background-image: url(../images/bg04.gif);
	height:24px;
	margin-top:5px;
	width:98%;
}

/*定义页签表所在层样式*/
#cmenu1{
	position:absolute;
	left:10px; top:30px;
	visibility:hidden;
}
	
/*定义每个页签层样式*/	
#c01,#c02,#c03,#c04,#c05,#c06{
	position:absolute;
	left:10px; top:50px;
	visibility:hidden;
}
/*定义教室模版样式*/
.classroom{
	margin-top:15px;
	width:98%;
}
.classroom td{
	BORDER-RIGHT: 1px solid #E1E1E1;
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	FONT: 12px "宋体";
	PADDING-TOP: 3px;
	TEXT-DECORATION: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E1E1E1;
	text-align: center;
}

/*校验span提示信息样式*/
.s1 {
	color:#ff3333;
	font-size:9pt;
	padding-left:5px;
}

/*定义带背景色的Body样式*/
.colorBody{
	background-color:#EFEEF7;
	margin-top: 0px;
	margin-left: 0px;
}

.display {
	display:"block";
	margin-top:0px;
}

.nondisplay {
	display:"none";
	margin-top:0px;
}

/*鼠标右键菜单样式表*/
.mouseRightKey{
	background-image:url(../images/bg07.gif);
	height:100%;
	width:100%;
	
}

/*默认样式设置*/
body {
	background-color:#FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
}

table {
	width: 90%;
	border-collapse: collapse;
}

tr {
	height: 10;
}

td,th {
	font-size: 12px;
}

